<head>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' %>
</head>

<div class="container">
  <h1 class="text-primary"><%= current_user.username %></h1>
  <div class="profile-picture text-center">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, alt: @user.username, class: 'profile-img' %>
    <% else %>
      <%= image_tag 'default_profile.png', alt: @user.username, class: 'profile-img' %>
    <% end %>
  </div>
  <div class="text-center">

    <p class="mb-1"><%= @user.email %></p>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item mb-3 text-warning" %>
  </div>

  <h2>Posts</h2>
  <div class="posts">
    <% @user.posts.order(created_at: :desc).each do |post| %>
      <div class="post">
        <p><%= post.content %></p>
        <% if post.photo.attached? %>
          <%= image_tag post.photo, class: 'post-img' %>
        <% end %>
        <p><small><%= time_ago_in_words(post.created_at) %> ago</small></p>
      </div>
    <% end %>
  </div>
</div>
