<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between">
  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar ms-2", alt: "dropdown menu" %>
      <% else %>
        <%= image_tag "https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg", class: "avatar ms-2", alt: "dropdown menu" %>
        <%# <%= debug current_user.photo %>
      <% end %>
    <% end %>
  <% end %>
  <div id="title-text-container">
    <h1 class="title-text mb-0">
        <strong>Sláinte</strong>
    </h1>
  </div>
  <%# <button class="navbar-toggler me-2 p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> %>
    <div class="header-link">
      <%= link_to matches_path do %>
        <i class="fa-solid fa-bell fa-xl me-2" style="color: #ffb400;"></i>
      <% end %>
    </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "#{current_user.username}", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
