<div class="chat-container">
  <h1 id="chat-header">Your chats!</h1>

  <% if @friends.size > 0 %>
    <ul>
      <% @friends.each do |match| %>
        <% if match.messages.size > 0 %>
          <li>
            <%= link_to "#{match.user == current_user ? match.matched_user.username : match.user.username}", match_path(match) %>
            <% if match.messages.last.user == current_user %>
              <p>You: <%= match.messages.last.content %></p>
            <% else %>
              <p><%= match.messages.last.user.username %>: <%= match.messages.last.content %></p>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to "#{match.user == current_user ? match.matched_user.username : match.user.username}", match_path(match) %>
            <p>No messages yet</p>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>Currently you don't have any chats</p>
  <% end %>
</div>
