<!-- HTML Content -->
<div class="match-requests-sent-container">
  <h2 class="title-for-requests">Sent</h2>
  <% @sent_matches.each do |match| %>
    <div class="match-request-item">
      <div class="match-request-avatar">
        <div class="match-request-initials">
          <%= match.matched_user.username.split(' ').map { |name| name[0] }.join.upcase %>
        </div>
      </div>
      <div class="match-request-details">
        <div class="match-request-info">
          <strong class="match-username-text"><%= match.matched_user.username %></strong>
          <span>Match request pending...</span>
        </div>
        <div class="match-request-actions">
          <%= button_to 'Cancel Request', cancel_match_path(match), method: :delete, class: "match-request-button" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="match-requests-received-container">
<h2 class="title-for-requests">Received</h2>
  <% @received_matches.each do |match| %>
    <div class="match-request-item">
      <div class="match-request-avatar">
        <div class="match-request-initials">
          <%= match.user.username.split(' ').map { |name| name[0] }.join.upcase %>
        </div>
      </div>
      <div class="match-request-details">
        <div class="match-request-info">
          <strong class="match-username-text"><%= match.user.username %></strong>
          <span>Sent you a match request</span>
        </div>
        <div class="match-request-actions">
          <%= button_to 'Accept', accept_match_path(match), method: :patch, class: "button-accept" %>
          <%= button_to 'Reject', reject_match_path(match), method: :patch, class: "button-reject" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
