<div class="container chat">
  <h1>Chat</h1>

  <div class="messages">
    <% @match.messages.each do |message| %>
      <div class="message <%= message.user == current_user ? 'sent' : 'received' %>">
        <small>
          <strong><%= message.user.username %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>

<div id="simple-form">

  <!-- Wrap input and button in a div for styling -->
  <div class="input-box-wrapper">
    <%= simple_form_for [@match, @message], html: { class: "chat-input" } do |f| %>
      <%= f.input :content, label: false, placeholder: "Start typing to chat", input_html: { class: "chat-textbox-input" } %>
      <%= f.submit "Send", class: "send-btn" %>
    <% end %>
  </div>
</div>
</div>
</div>
