<div class="container">
  <% @posts.each do |post| %>
    <div class="post">
      <p id="post-title"><%= post.content %></p>
      <% if post.photo.attached? %>
        <% if post.photo.key %>
          <%= cl_image_tag post.photo.key, alt: 'Post image', class: 'post-image' %>
        <% else %>
          <%= image_tag post.photo, alt: 'Post image', class: 'post-image' %>
        <% end %>
      <% end %>
      <div class="d-flex align-items-center w-100 justify-content-between">
        <%= link_to 'Join', '#', class: 'join-button' %>
        <%= link_to new_post_comment_path(post), class: 'comment-button' do %>
          <i class="fa-solid fa-comment-dots"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
