<h1>Create a Post</h1>

<%= simple_form_for @post, url: posts_path, html: { multipart: true } do |f| %>
  <%= f.input :content, label: "Create a post!"%>
  <%= f.input :photo, as: :file %>

  <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
  <%= f.submit 'Create Post', class: 'btn btn-primary' %>
<% end %>
