<div class="container">
  <p id="post-title"><%= @post.content %></p>
  <% if @post.photo.attached? %>
    <%= cl_image_tag @post.photo.key, alt: "Post Image", class: "post-image" %>
  <% end %>
  <%= link_to "Delete", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-custom" %>
  <p>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary btn-custom" %>
    <%= link_to 'Back', posts_path, class: "btn btn-secondary btn-custom" %>
  </p>
  <p><%= @post.likes.count %> <%= @post.likes.count == 1 ? 'Like' : 'Likes' %></p>

  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id } %>
  <% if pre_like %>
    <%= button_to post_like_path(@post, pre_like), method: :delete, class: "like-btn" do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
  <% else %>
    <%= button_to post_likes_path(@post), method: :post, class: "like-btn" do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  <% end %>

  <!-- Comment Form -->
  <%= simple_form_for [@post, @comment] do |f| %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>

  <!-- Display Comments -->
  <h3>Comments:</h3>
  <ul class="list-unstyled">
    <% if @post.comments.count > 0 %>
      <% @post.comments.each do |comment| %>
        <li class="comment">
          <p><%= comment.content %></p>
          <p><%= comment.user.username %></p>
        </li>
      <% end %>
      <% else %>
      <p>No comments yet😔</p>
    <% end %>
  </ul>
</div>
