<div class="container">
  <%# Post Title %>
  <p id="post-title"><%= @post.content %></p>

  <%# Post Image %>
  <% if @post.photo.attached? %>
    <%= cl_image_tag @post.photo.key, alt: "Post Image", class: "post-image" %>
  <% end %>

  <%# Post Actions %>
  <div class="post-actions">
    <%# Action Buttons %>
    <div class="action-buttons">
      <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom-yellow" %>
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-custom-teal" %>
      <%= link_to 'Back', posts_path, class: "btn btn-custom-teal" %>
    </div>
  </div>

  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id } %>
  <%# Likes Section %>
  <div class="like-section" style="text-align: center;">
    <% if pre_like %>
      <%= button_to post_like_path(@post, pre_like), method: :delete, class: "like-button liked",
        style: "border: none; background: none; cursor: pointer; display: inline-flex; align-items: center; font-size: 24px;" do %>
        <i class="fa-solid fa-heart" style="color: #ffb400; font-size: 24px;" id="heart-icon"></i>
      <% end %>
    <% else %>
      <%= button_to post_likes_path(@post), method: :post, class: "like-button not-liked",
        style: "border: none; background: none; cursor: pointer; display: inline-flex; align-items: center; font-size: 24px;" do %>
        <i class="fa-regular fa-heart" style="color: grey; font-size: 24px;"></i>
      <% end %>
    <% end %>
    <div class="like-count">
      <p>
        <%= @post.likes.count %> <%= @post.likes.count == 1 ? 'Like' : 'Likes' %>
      </p>
    </div>
  </div>

  <%# Comment Form %>
  <div class="comment-form">
    <%= simple_form_for [@post, @comment] do |f| %>
      <div class="comment-input-group">
        <%= f.input :content, label: false, input_html: { class: 'form-control comment-input', placeholder: 'Write your comment' } %>
        <%= f.submit 'Post', class: 'btn btn-custom-teal comment-submit' %>
      </div>
    <% end %>
  </div>

  <%# Display Comments %>
  <ul class="list-unstyled">
    <% if @post.comments.any? %>
      <% @post.comments.each do |comment| %>
        <li class="comment">
          <p><%= comment.content %></p>
          <p><%= comment.user.username %></p>
        </li>
      <% end %>
    <% else %>
      <p>No Comments Yet😔</p>
    <% end %>
  </ul>
</div>
