<div class="container">
  <p id="post-title"><%= @post.content %></p>
  <% if @post.photo.attached? %>
    <%= cl_image_tag @post.photo.key, alt: "Post Image", class: "post-image" %>
  <% end %>
  <%= link_to "Delete", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <p><%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Back', posts_path %></p>
  <p><%= @post.likes.count %> <%= @post.likes.count == 1 ? 'Like' : 'Likes' %></p>

  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id } %>
  <% if pre_like %>
    <%= button_to post_like_path(@post, pre_like), method: :delete, class: "like-btn" do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
  <% else %>
    <%= button_to post_likes_path(@post), method: :post, class: "like-btn" do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  <% end %>

  <!-- Comment Form -->
  <h3>Add a Comment:</h3>
  <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
    <div class="form-group">
      <%= form.label :content, "Comment:" %>
      <%= form.text_area :content, rows: 3, class: "form-control" %>
    </div>
    <%= form.submit "Post Comment", class: "btn btn-primary" %>
  <% end %>

  <!-- Display Comments -->
  <h3>Comments:</h3>

  <ul class="list-unstyled">
    <% if @post.comments.count > 0 %>
      <% @post.comments.each do |comment| %>
        <li class="comment">
          <p><%= comment.content %></p>
          <p><%= comment.user %></p>
          <%# comments do not have a time of creation when made at the moment %>
          <small><%= comment.created_at %> ago</small>
        </li>
      <% end %>
      <% else %>
      <p>no comments 😔</p>
    <% end %>
  </ul>
</div>
